{{!
    @template local_dragndrop/listitem
    Ítem de categoría con icono borrar visible.
}}
<b>
    <a title="{{#str}}editquestions, question{{/str}}" href="{{{questionbankurl}}}">
        {{{categoryname}}}
        {{#idnumber}}
        <span class="badge bg-primary text-white">
            <span class="accesshide">{{#str}}idnumber, question{{/str}}</span>
            {{idnumber}}
        </span>
        {{/idnumber}}
        {{questioncount}}
    </a>
</b>
{{#categorydesc}}
<div class="text_to_html">{{{categorydesc}}}</div>
{{/categorydesc}}
{{#deleteurl}}
<a class="local-dragndrop-delete" title="{{deletetitle}}" href="{{{deleteurl}}}">
    {{# pix }} t/delete, core, {{deletetitle}} {{/ pix }}
</a>
{{/deleteurl}}
